//
// Masthead
//

header.masthead {
    padding-top: 18rem;
    padding-bottom: calc(10rem - #{$navbar-height});

    // .cta {
    //     background-color: black;
    //     color: white;
    // }

    .masthead-content {
        // padding-top: calc(7rem + 72px);
        color: white;
        z-index: 1;
        position: relative;
        top: 4rem;

        .masthead-heading {
            font-weight: 700;
            font-size: 2rem;
            padding-right: 10px;
        }

        .masthead-subheading {
            font-size: 1rem;
        }

        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!

    background: linear-gradient(to bottom,
        #{fade-out($brown, 0.5)} 0%,
        #{fade-out($brown, 0.5)} 100%),
    url("../assets/img/bg-masthead.gif");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: $navbar-height;
        padding-bottom: 0;

        p {
            font-size: 1.15rem;
        }

        h1 {
            font-size: 3rem;
        }
    }

    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 3.5rem;
        }
    }

    @include media-breakpoint-up(lg) {

        .masthead-content {

            .flex {
                display: block;
                justify-content: center;
                align-items: center;
            }
            .masthead-heading {
                font-size: 5rem;
                padding-right: 0;
            }

            .masthead-subheading {
                font-size: 3rem;
            }
        }
    }
}
